{% extends 'main/header.html' %}
{% load static %}

{% block title %}
Red Catalog - Главная
{% endblock %}

{% block content %}
{% csrf_token %}

{% if not request.user.is_authenticated %}
    <div class="login-window" id="login-window">
        <img class="login-window-background" src="{% static 'main/png/favicon.svg' %}">
        <h1>Вход в личный кабинет</h1>

            <input placeholder="Электронная почта" type="email" name="mail" id="input-mail">
            <input placeholder="Пароль" type="password" name="password" id="input-password">
            <div style="display: flex;">
                <button type="submit" onclick="login1()" id="login-button">Войти</button>
                <p id="login-button-error"></p>
            </div>



        <a href="{% url 'registration' %}">У меня нет аккаунта</a>
    </div>
{% endif %}
<a href="{% url 'logout' %}">Выйти</a>


{% endblock %}