:root{
    --header-height: 70px;
    --header-element-height: 40px;
}

body{
    margin: 0;
    padding: 0;
}
.screen{
    width: 100%;
    height: 110vh;
    position: absolute;
    left: 0;
    top: calc(0px - var(--header-height));
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    transition: 0.3s;
}
.content{
    position: relative;
    top: var(--header-height);
}

header{
    position: fixed;
    display: flex;
    height: var(--header-height);
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    background-color: white;
    z-index: 100;
    flex-wrap: wrap;
}
header.scroll {
    box-shadow: 0 0 10px grey;
}

.header-logo{
    position: relative;
    margin-left: 10px;
    bottom: 5px;
}
.header-catalog-button{
    position: relative;
    margin-left: 20px;
    top: 15px;
    display: flex;
    width: 120px;
    min-width: 120px;
    height: var(--header-element-height);
    background-color: #FF4545;
    border-radius: 10px;
    transition: 0.2s;
    user-select: none;

    p{
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: Bolder;
        font-size: 17px;
        position: relative;
        margin-left: 10px;
        bottom: 5px;
    }

    img {
        width: 20px;
        margin-left: 10px;
    }


}
.header-catalog-button:hover{
    background-color: #FF6868;
    cursor: pointer;
}

.header-search{
    display: flex;
    width: 500px;

    height: calc(var(--header-element-height) - 4px);
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid #FF4545;
    position: relative;
    top: calc((var(--header-height) - var(--header-element-height)) / 2);
    input{
        width: 445px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12pt;
        position: relative;
        margin-left: 10px;
        border: none;
    }:focus{
        outline: none;
    }
    img{
        margin-left: 7px;
        width: calc(var(--header-element-height) - 16px);

    }
}

.header-right{
    position: absolute;
    right: 10px;

    display: flex;

}

.header-location{
    display: flex;
    width: 200px;
    height: calc(var(--header-element-height) + 10px - 4px);
    position: relative;
    top: 11px;
    border: 2px solid #DFDFDF;
    border-radius: 10px;
    transition: 0.2s;

    img{
        width: 25px;
        margin-left: 5px;
    }

    .header-location-text{
        display: block;
        width: 100vw;

        p{
            text-align: center;
            position: relative;
            font-size: 15pt;
            bottom: 8px;

            font-family: 'Open Sans', sans-serif;
        }
    }
}

.header-location:hover{
    border: 2px solid #FF4545;
    cursor: pointer;
}

.header-profile{
    display: flex;
    margin-left: 20px;
}

.header-sign-in-button{
    display: block;
    width: 150px;
    height: calc(var(--header-element-height) + 10px - 4px);
    position: relative;
    top: 11px;
    border: 2px solid #DFDFDF;
    border-radius: 10px;
    transition: 0.2s;
    user-select: none;
    text-decoration: none;
    p{
        text-align: center;
        position: relative;
        font-size: 15pt;
        bottom: 8px;
        color: black;

        font-family: 'Open Sans', sans-serif;
    }
}
.header-sign-in-button:hover{
    border-color: #FF4545;

    cursor: pointer;
}

.header-profile-info{
    display: flex;
    width: 260px;
    height: calc(var(--header-element-height) + 10px - 4px);
    position: relative;
    top: 11px;
    border: 2px solid #DFDFDF;
    border-radius: 10px;
    transition: 0.2s;
    user-select: none;


    div1{
        width: 215px;

        p{
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 200px;
            left: 7px;
            font-family: 'Open Sans', sans-serif;
            font-size: 15pt;
            bottom: 8px;
            position: relative;

        }
    }
    bar{
        display: block;
        width: 2px;
        height: calc(var(--header-element-height) + 10px - 4px);
        background-color: #DFDFDF;
        transition: 0.2s;
    }
    div2{
        img{
            width: 46px;
            border-radius: 0 10px 10px 0;
            position: relative;
        }
    }
}
.header-profile-info:hover{
    border-color: #FF4545;
    cursor: pointer;
    bar{
        background-color: red;
    }
}

.login-window{
    width: 25%;
    min-width: 400px;
    height: 100vh;
    display: block;
    position: fixed;
    background-color: white;

    visibility: hidden;
    left: calc(0px - max(400px, 25%));
    top: 0px;
    z-index: 103;
    transition: 0.3s;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;

    img{
        position: relative;
        width: 120%;
        left: -13%;
        filter: brightness(3);
    }
    h1{

        position: relative;
        margin-top: -100px;
        font-weight: 900;
        font-size: 5vh;
        left: 20px;
    }
    input{
        min-width: 300px;
        width: 80%;
        height: 50px;
        border: 2px solid rgb(200, 200, 200);
        border-radius: 10px;
        margin-top: 20px;
        left: 20px;
        position: relative;
        font-size: 15pt;

        padding-left: 10px;
    }
    button{
        background-color: #FF4545;
        width: 30%;
        min-width: 120px;
        height: 50px;
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: 15pt;
        position: relative;
        left: 20px;
        margin-top: 20px;
        color: white;
        font-weight: 800;
        transition: 0.2s;
    }
    button:hover{
        cursor: pointer;
        background-color: #BF3333;
        color: rgb(200, 200, 200);
    }
    button:active{
        transform: scale(0.9);
    }
    a{
        position: relative;
        font-size: 15pt;
        left: 20px;
        top: 20px;
    }
    #login-button-error{
        color: red;
        position: relative;
        margin-left: 50px;
        top: 15px;
        font-size: 13pt;
    }
}

.loader {
    border: 3px solid rgba(0, 0, 0, 0);
  border-top: 3px solid white; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: auto;
  animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.registration-header{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 20px;
}

.regis-mail{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-left:20px;
    input{
        width: 300px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 7px;
        padding-left: 5px;
        font-size: 12pt;
        position: relative;
        margin-left:20px;
        margin-top: 13px;
    }
    input:focus{
        border: 1px solid #FF4545;
        outline: none;
    }
}

.regis-password{
    display: flex;
    position: relative;
    margin-left: 20px;

    font-family: 'Open Sans', sans-serif;
    input{
        width: 190px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 7px;
        padding-left: 5px;
        font-size: 12pt;
        position: relative;
        margin-left: 20px;
        margin-top: 13px;
    }
    input:focus{
        border: 1px solid #FF4545;
        outline: none;
    }
}

.regis-name{
    display: flex;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    input{
        width: 238px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 7px;
        padding-left: 5px;
        font-size: 12pt;
        position: relative;
        margin-left: 20px;
        margin-top: 13px;
    }
    input:focus{
        border: 1px solid #FF4545;
        outline: none;
    }
}

.regis-date{

    height: 30px;
    border: 1px solid grey;
    border-radius: 7px;
    padding-left: 5px;
    font-size: 12pt;
    position: relative;
    margin-left: 20px;
    margin-top: 13px;
    font-family: 'Open Sans', sans-serif;
}
.regis-date:focus{
    border: 1px solid #FF4545;
    outline: none;
}

.regis-photo{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    position: relative;
    input{
        position: relative;
        height: 30px;
        font-size: 11pt;
        margin-left: 20px;
        top: 17px;
    }

}

.regis-button{
    width: 200px;
    height: 40px;
    background-color: #FF4545;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    transition: 0.2s;
    margin-left: 20px;
}
.regis-button:hover{
    background-color: #BF3333;
    color: rgb(200, 200, 200);
}
.regis-button:active{
    transform: scale(0.9);
}

#regis-photo-preview{
    width: 500px;

}
